html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#message-pane {
    background-image: url("/assets/images/cc.jpg");
    background-size: cover;
    background-color: #101c2d;
    margin: 15px;
}

#form-card {
    margin: 0px;
}

.material-icons {
    font-size: 40px;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    color: black;
}